<!DOCTYPE html>
<html lang="eng" xmlns:th="http://www.thymeleaf.org">
  <head th:insert="fragments/general.html :: headerFiles">    
  </head>
  <body>
  	<!-- MAIN PAGE DIV, DOES NOT FRAGMENT! DO NOT TOUCH THIS!!! -->
    <div class="page">
      <!-- Main Navbar-->
      <header th:insert="fragments/general.html :: mainNavbar">        
      </header>
	  <!-- PAGE CONTENT DIV, DOES NOT FRAGMENT! DO NOT TOUCH THIS!!! -->      
      <div class="page-content d-flex align-items-stretch"> 
        <!-- Side Navbar -->
        <nav th:insert="fragments/general.html :: sideNavbar" class="side-navbar">
        </nav>
   	    <!-- INNER CONTENT/FOOTER DIV, DOES NOT FRAGMENT! DO NOT TOUCH THIS!!! -->        
        <div class="content-inner">
          <!-- Page Header, DOES NOT FRAGMENT!!!-->
          <header class="page-header">
            <div class="container-fluid">
              <h2 class="no-margin-bottom">Dashboard</h2>
            </div>
          </header>
          <!-- Dashboard Header Section    -->
          <section class="dashboard-header">
			<div class="container-fluid">
			  <div class="row row-cols-2">
			    <div class="col">
			    <h1>Resolved Ticket</h1>
			   	 <div class="statistic d-flex align-items-center bg-white has-shadow">
				    <form id= "ticketForm" action="#" th:action="@{/update/{id}(id=${ticket.id})}" th:object="${ticket}" method="post">
				    	<div class="mb-3">
				    	<p>Title</p> 
				    	<input class="form-control" type="text" th:field="*{title}" readonly>
				        </div>
   				        <div class="mb-3">
						  <label for="exampleFormControlTextarea1" class="form-label">Description</label>
						  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" th:field="*{description}" readonly></textarea>
						</div>
						<label id="ticketPriority">Ticket Priority</label>
						<div class="mb-3">   				        
	   				        <input class="form-control" th:field="*{ticketPriority}" readonly>
						</div>
	   				        <label id="ticketType">Ticket Type:</label>						
						<div class="mb-3">
							<input class="form-control" th:field="*{ticketType}" readonly>
						</div>
						<label id="ticketStatus">Ticket Status:</label>
						<div class="mb-3">
							<input class="form-control" th:field="*{ticketStatus}" readonly>
						</div>
				    </form>
			   	 </div>
			    </div>
			  </div>
			</div>
          </section>
		  <!-- Page Footer-->
          <footer th:insert="fragments/general.html :: footer">            
          </footer>
        </div>
      </div>
    </div>
    <div th:insert="fragments/general.html :: footerFiles"></div>
  </body>
</html>