<!DOCTYPE html>
<html lang="eng" xmlns:th="http://www.thymeleaf.org">
  <head th:insert="fragments/general.html :: headerFiles">    
  </head>
  <body>
  	<!-- MAIN PAGE DIV, DOES NOT FRAGMENT! DO NOT TOUCH THIS!!! -->
    <div class="page">
      <!-- Main Navbar-->
      <header th:insert="fragments/general.html :: mainNavbar">        
      </header>
	  <!-- PAGE CONTENT DIV, DOES NOT FRAGMENT! DO NOT TOUCH THIS!!! -->      
      <div class="page-content d-flex align-items-stretch"> 
        <!-- Side Navbar -->
        <nav th:insert="fragments/general.html :: sideNavbar" class="side-navbar">
        </nav>
   	    <!-- INNER CONTENT/FOOTER DIV, DOES NOT FRAGMENT! DO NOT TOUCH THIS!!! -->        
        <div class="content-inner">
          <!-- Dashboard Header Section    -->
          <section id="elementtopmargin" class="dashboard-header">
			<div class="container">
			  <div class="row row-cols-2">	
			 	<div class="col-6">
				  <div class="statistic d-flex align-items-center bg-white has-shadow">			 	
						<div class="tableheader-small statistic d-flex align-items-left bg-violet has-shadow">
   			  	 			<h1>Add New User</h1>
   			  	 		</div>	
   			  	 	<form id= "userForm" th:action="@{/user/addUser}" th:object="${user}" method="post">
						    <table class="table">
							    <tr>
									<th scope="col">First Name</th>
									<th scope="col">Last Name</th>											
								</tr>
						        <tr>
						            <td><input type="text" th:field="*{firstName}"/></td>
						            <span th:if="${#fields.hasErrors('firstName')}" th:errors="firstName"></span>
						            <td><input type="text" th:field="*{lastName}"/></td>            
						            <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>				                       
						        </tr>
						        <tr>
						        	<th scope="col">Email Address</th>		
									<th scope="col">Role</th>
						        </tr>
					            <tr>
					            	<td><input type="text" th:field="*{emailAddress}" /></td>
						            <span th:if="${#fields.hasErrors('emailAddress')}" th:errors="*{emailAddress}"></span>
						            <td>
						            	<select class="form-control" th:field="*{role}">
											<option th:each="role : ${user.roles}" th:value="${role}" th:text="${role}"></option>
										</select>
									</td>
						        <tr>
						        	<td><input class="btn btn-success" type="submit" value="Submit" /></td> 
						        	<td></td>
						        </tr>
						        				        
						    </table>
						</form>
					  </div>
					</div>
				  </div>
				</div>	
			</section>
          <!-- Page Footer-->
          <footer th:insert="fragments/general.html :: footer">            
          </footer>
        </div>
      </div>
    </div>
    <div th:insert="fragments/general.html :: footerFiles"></div>
  </body>
</html>